* {
	box-sizing: border-box;
}


@font-face {
    font-family: 'Quicksand' ;
    src: url(../fonts/Quicksand-Bold.ttf) format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-Light.ttf) format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-Medium.ttf) format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-Regular.ttf) format('ttf');
    font-weight: 400;
    font-style: normal;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.btn-reset {
	padding: 0;
	border: none;
	font-family: 'Quicksand', sans-serif;;
	background-color: transparent;
	cursor: pointer;
}
a{
    text-decoration: none;
}

body{
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 135px;
    padding-right: 170px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 893px; */
}

.list-item{
    margin-left: 20px;
    margin-right: 20px;
}
.button-item{
    margin-left: 52px;
}
.link-item{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #929292;;
}

.link-item.active{
    color: #0F7CFF
}


.bg-blue{
    display: inline-block;
    box-sizing: border-box;
    width: 165px;
    padding: 0 25px;
    margin: 0 15px 15px 0;
    outline: none;
    border: 1px solid #fff;
    border-radius: 25px;
    line-height: 46px;
    font-size: 16px;
    color: #ffffff;
    background-color: #0063DD;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
    transition: box-shadow 0.5s;
}
.bg-blue:focus-visible {
    border: 1px solid #0063DD;
    outline: none;
}
.bg-blue:hover {
    transition: all 0.5s;
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.bg-blue:active {
    background-color: #0063DD;
    opacity: 23%;
}
.bg-blue:disabled {
    background-color: #0063DD;
    border-color: #eee;
    color: #0063DD;
    cursor: not-allowed;
}

.bg-white{
    display: inline-block;
    box-sizing: border-box;
    width: 165px;
    padding: 0 15px;
    margin: 0 15px 15px 0;
    outline: none;
    border: 2px solid #0063DD;
    border-radius: 50px;
    line-height: 46px;
    font-size: 16px;
    color: #0063DD;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
    transition: box-shadow 0.5s;
}
.bg-white:focus-visible {
    border: 1px solid #0063DD;
    outline: none;
}
.bg-white:hover {
    transition: all 0.5s;
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.bg-white:active {
    background-color: #0063DD;
    opacity: 23%;
}
.bg-white:disabled {
    background-color: #0063DD;
    border-color: #eee;
    color: #0063DD;
    cursor: not-allowed;
}

.btn-blue-circle{
    display: inline-block;
    box-sizing: border-box;
    width: 70px;
    padding: 0 15px;
    margin: 0 15px 15px 0;
    outline: none;
    border: 2px solid #0063DD;
    border-radius: 50%;
    line-height: 46px;
    font-size: 16px;
    color: #0063DD;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
    transition: box-shadow 0.5s;
}

.btn-blue-circle:focus-visible {
    border: 1px solid #0063DD;
    outline: none;
}
.btn-blue-circle:hover {
    transition: all 0.5s;
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%);
}
.btn-blue-circle:active {
    background-color: #0063DD;
    opacity: 10%;

}
.btn-blue-circle:disabled {
    background-color: #0063DD;
    border-color: #eee;
    color: #0063DD;
    cursor: not-allowed;
}
.hero{
    display: flex;
    justify-content: center;
    padding-top: 188px;
    /* margin-bottom: 602px; */
    background-image: url(../img/Vector1.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 996px;
}

.hero-content{
    max-width: 655px;
}

.hero-title{
    text-align: center;
    margin-bottom: 30px;
    font-style: normal;
    font-size: 36px;
    line-height: 45px;
}

.hero-descr{
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #929292;
    margin-bottom: 33px;
}

.hero-action{
    text-align: center;
    /* margin-bottom: 108px; */
}


/* .hero-devices{
    position: relative;
}
.phone1{
    position: absolute;
    margin-top: 538px;
    margin-left: 410px;
    z-index: 2;
}

.phone2{
    position: absolute;
    top: 535px;
    right:100px;
    z-index: 3;
}

.phone3{
    position: absolute;
    margin-top: 538px;
    margin-left: 820px;
    z-index: 2;
} */

.features{
    display: flex;
    justify-content: center;
    min-width: 320px;
    background-color: #F5FCFD;
    position: relative;
    z-index: 5;
    margin-top: -100px;
}
.arrow>button{
    position: relative;
    z-index: 6;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    background-color: #0063DD;
    color: white;
    box-shadow: #0063DD;
}
.bg-white-feature{
    background-color: white;
    width: 360px;
    height: 290px;
    box-shadow: 0px 4px 16px rgba(0, 66, 148, 0.08);
    border-radius: 5px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-column-gap: 30px;

}

.bg-white-feature>.card-image{
    text-align: center;
}
.grid-title{
    text-align: center;
    font-size: 18px;
    color: #000000;
}
.grid-description{
    text-align: center;
    color: #000000;
}

.grid-item-01{
    padding-top: 165px;
    padding-bottom: 180px;
}

.grid-item-02{
    padding-top: 215px;
    padding-bottom: 130px;
}

.grid-item-03{
    padding-top: 165px;
    padding-bottom: 180px;
}

.grid-item-01 .bg-white-feature{
    padding: 15px 30px;
}

.grid-item-02 .bg-white-feature{
    padding: 15px 30px;
}

.grid-item-03 .bg-white-feature{
    padding: 15px 30px;
}

.about{
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.about-photos-01{
    position: absolute;
}

.rectangle-01{
    position: relative;
    top: -63px;
    left:284px;
    z-index: 6;
}

.photo-01{
    position: relative;
    left: 387px;
    top: -580px;
    z-index: 7;
}

.about-photos-02{
    position: absolute;
}

.rectangle-02{
    position: relative;
    top: -625px;
    left: 1026px;
    z-index: 6;
}

.photo-02{
    position: relative;
    left: 1070px;
    top: -1180px;
    z-index: 7;
}

.about-cards{
    width: 543px;
    height: 166px;
}

.about-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-column-gap: 310px;
}


.work {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 119px;
    background-color: #F5FCFD;
    position: relative
}

/*.work-content{*/
/*    max-width: 722px;*/
/*}*/

.title-work {
    text-align: center;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 30px;
}

.info-work{
    text-align: center;
    font-size: 16px;
    line-height: 27px;
    color: #929292;
    margin-bottom: 45px;
}
/*.work>.info-work {*/
/*    line-height: 24px;*/
/*    margin-top: -119px;*/
/*    width: 722px;*/
/*    text-align: center;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    margin-right: -50%;*/
/*    transform: translate(-50%, -50%) }*/

/*.work>.line>.line{*/
/*    margin-top: 327px;*/
/*    text-align: center;*/
/*    left: 50%;*/
/*    margin-right: -50%;*/
/*    transform: translate(-50%, -50%);*/
/*    width: 770px;*/
/*    position: absolute;*/
/*    z-index: 1;*/
/*}*/


.grid-work{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 53px;
    /*grid-column-gap: 53px;*/

}

.grid-item-card>.bg-work{
    width: 333px;
    height: 221px;
}

.grid-title-work{
    font-size: 18px;
    line-height: 22.5px;
    text-align: center;
}

.bg-work>.thumb-work{
    text-align: center;
}

.grid-description-work{
    text-align: center;
    color: #000000;
}

.grid-item-card{
    /*padding-top: 277px;*/
    padding-bottom: 137px;
    /*padding-left: 403px;*/
}


.tariff{
    display: flex;
    justify-content: center;
    background-color: #fff;
    position: relative;
}

.bg-white-tariff-01{
    background-color: white;
    width: 332px;
    height: 256px;
}

.bg-white-tariff-02{
    background-color: white;
    width: 362px;
    height: 576px;
    filter: drop-shadow(0px 4px 20px rgba(0, 78, 172, 0.08));
    border-radius: 5px;
    padding:  39px 46px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-column-gap: 30px;

}

.bg-white-tariff-02>.card-image{
    text-align: center;
}
.grid-title{
    text-align: center;
    font-size: 18px;
    color: #000000;
}
.grid-title-price{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
}
.grid-description-tariff{
    font-weight: 300;
    line-height: 184%;
    font-style: normal;
    text-align: center;
}
.grid-description-price{
    text-align: left;
}
.grid-price{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #0F7BFF;
    text-align: center;

}

.buy{
    text-align: center;
    margin-top: 50px;
}
.tariff-item-01{
    padding-top: 291px;
    padding-bottom: 288px;
}

.tariff-item-02{
    padding-top: 130px;
    padding-bottom: 129px;
}

.tariff-item-03{
    padding-top: 130px;
    padding-bottom: 129px;
}

.grid-item-01 .bg-white-feature{
    padding: 15px 30px;
}

.grid-item-02 .bg-white-feature{
    padding: 15px 30px;
}

.grid-item-03 .bg-white-feature{
    padding: 15px 30px;
}

.carousel-block{
    background-color: #F5FCFD;
    background-image: url(../img/Image.png);
    background-repeat: no-repeat;
    background-size: 920px;
}

.carousel-content{
    padding-bottom: 900px;
    /*display: flex;*/
    /*justify-content: flex-end;*/
}

.carousel-card{
    width: 362px;
    height: 215px;
    filter: drop-shadow(0px 4px 20px rgba(0, 70, 156, 0.08));
    background-color: #fdbbbb;
    background-position: left;
    padding-top: 40px;
    padding-bottom: 39px;
    padding-left: 30px;
}

.carousel-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.carousel-subtitle{
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #999999
}

.carousel-text{
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #999999;
}

.block-title{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    padding-left: 1000px;
    padding-top: 113px;
}

.car{
    width: 362px
}



@media screen and (max-width: 1200px){
    .container{
        width: 1140px;
    }
}



@media screen and (max-width: 991px){
    .container{
        width: 720px;

    }
}

@media screen and (max-width: 767px){
    .container{
        width: 540px;

    }
}

@media screen and (max-width: 575px){
    .container{
        width: 100%;
        padding: 0 15px;
    }
}

.latestNews{
    display: flex;
    justify-content: center;
    padding-bottom: 996px;
}

.latestNews-content{
    max-width: 722px;
}

.latestNews-title{
    text-align: center;
    margin-bottom: 25px;
    font-style: normal;
    font-size: 32px;
    line-height: 40px;
}

.latestNews-descr{
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    text-align: center;
    font-size: 16px;
    color: #000;
    margin-bottom: 40px;
}


.latestNews-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    /*grid-column-gap: 30px;*/
    /*grid-row-gap: 26px*/
    /*grid-auto-rows: 100px;*/
}

.latestNews-card-01{
    grid-column: 1/2;
    grid-row: 1/3;

}
.latestNews-card-01 img{
    margin: 0;

}
.latestNews-card-02 {
    grid-column: 2/3;
    grid-row: 1/2;
    padding-top: 0;
}

.latestNews-card-03 {
    grid-column-start: 2;/3
    grid-row: 2/3;
}
