* {
	box-sizing: border-box;
}


@font-face {
    font-family: 'Quicksand' ;
    src: url(../fonts/Quicksand-Bold.ttf) format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-Light.ttf) format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-Medium.ttf) format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-Regular.ttf) format('ttf');
    font-weight: 400;
    font-style: normal;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.btn-reset {
	padding: 0;
	border: none;
	font-family: 'Quicksand', sans-serif;;
	background-color: transparent;
	cursor: pointer;
}
a{
    text-decoration: none;
}

body{
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 135px;
    padding-right: 170px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 893px; */
}

.list-item{
    margin-left: 20px;
    margin-right: 20px;
}
.button-item{
    margin-left: 52px;
}
.link-item{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #929292;;
}

.link-item.active{
    color: #0F7CFF
}


.bg-blue{
    display: inline-block;
    box-sizing: border-box;
    width: 165px;
    padding: 0 25px;
    margin: 0 15px 15px 0;
    outline: none;
    border: 1px solid #fff;
    border-radius: 25px;
    line-height: 46px;
    font-size: 16px;
    color: #ffffff;
    background-color: #0063DD;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
    transition: box-shadow 0.5s;
}
.bg-blue:focus-visible {
    border: 1px solid #0063DD;
    outline: none;
}
.bg-blue:hover {
    transition: all 0.5s;
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.bg-blue:active {
    background-color: #0063DD;
    opacity: 23%;
}
.bg-blue:disabled {
    background-color: #0063DD;
    border-color: #eee;
    color: #0063DD;
    cursor: not-allowed;
}

.bg-white{
    display: inline-block;
    box-sizing: border-box;
    width: 165px;
    padding: 0 15px;
    margin: 0 15px 15px 0;
    outline: none;
    border: 2px solid #0063DD;
    border-radius: 50px;
    line-height: 46px;
    font-size: 16px;
    color: #0063DD;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    cursor: pointer;
    user-select: none;
    appearance: none;
    vertical-align: top;
    transition: box-shadow 0.5s;
}
.bg-white:focus-visible {
    border: 1px solid #0063DD;
    outline: none;
}
.bg-white:hover {
    transition: all 0.5s;
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.bg-white:active {
    background-color: #0063DD;
    opacity: 23%;
}
.bg-white:disabled {
    background-color: #0063DD;
    border-color: #eee;
    color: #0063DD;
    cursor: not-allowed;
}

.btn-blue-circle{
    display: inline-block;
    box-sizing: border-box;
    width: 70px;
    padding: 0 15px;
    margin: 0 15px 15px 0;
    outline: none;
    border: 2px solid #0063DD;
    border-radius: 50%;
    line-height: 46px;
    font-size: 16px;
    color: #0063DD;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
    transition: box-shadow 0.5s;
}

.btn-blue-circle:focus-visible {
    border: 1px solid #0063DD;
    outline: none;
}
.btn-blue-circle:hover {
    transition: all 0.5s;
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%);
}
.btn-blue-circle:active {
    background-color: #0063DD;
    opacity: 10%;

}
.btn-blue-circle:disabled {
    background-color: #0063DD;
    border-color: #eee;
    color: #0063DD;
    cursor: not-allowed;
}
.hero{
    padding-top: 188px;
    /* margin-bottom: 602px; */
    background-image: url(../img/Vector1.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*padding-bottom: 996px;*/
}

.hero-block{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hero-content{
    max-width: 655px;
    margin-bottom: 108px;
}

.hero-title{
    text-align: center;
    margin-bottom: 30px;
    font-style: normal;
    font-size: 36px;
    line-height: 45px;
}

.hero-descr{
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #929292;
    margin-bottom: 33px;
}

.hero-action{
    text-align: center;
    /* margin-bottom: 108px; */
}

.hero-devices{
    margin-bottom: -280px;
    align-items: flex-end;
}



.features{
    display: flex;
    justify-content: center;
    min-width: 320px;
    background-color: #F5FCFD;
    position: relative;
    z-index: 5;
    margin-top: -100px;
}
.arrow>button{
    position: relative;
    z-index: 6;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    background-color: #0063DD;
    color: white;
    box-shadow: #0063DD;
}
.bg-white-feature{
    background-color: white;
    width: 360px;
    height: 290px;
    box-shadow: 0px 4px 16px rgba(0, 66, 148, 0.08);
    border-radius: 5px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-column-gap: 30px;

}

.bg-white-feature>.card-image{
    text-align: center;
}
.grid-title{
    text-align: center;
    font-size: 18px;
    color: #000000;
}
.grid-description{
    text-align: center;
    color: #000000;
}

.grid-item-01{
    padding-top: 165px;
    padding-bottom: 180px;
}

.grid-item-02{
    padding-top: 215px;
    padding-bottom: 130px;
}

.grid-item-03{
    padding-top: 165px;
    padding-bottom: 180px;
}

.grid-item-01 .bg-white-feature{
    padding: 15px 30px;
}

.grid-item-02 .bg-white-feature{
    padding: 15px 30px;
}

.grid-item-03 .bg-white-feature{
    padding: 15px 30px;
}


.work {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 119px;
    background-color: #F5FCFD;
    position: relative
}



.title-work {
    text-align: center;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 30px;
}

.info-work{
    text-align: center;
    font-size: 16px;
    line-height: 27px;
    color: #929292;
    margin-bottom: 45px;
}



.grid-item-card>.bg-work{
    width: 333px;
    height: 221px;
}

.grid-title-work{
    font-size: 18px;
    line-height: 22.5px;
    text-align: center;
}

.bg-work>.thumb-work{
    text-align: center;
}

.grid-description-work{
    text-align: center;
    color: #000000;
}




.tariff{
    display: flex;
    justify-content: center;
    background-color: #fff;
    position: relative;
}

.bg-white-tariff-01{
    background-color: white;
    width: 332px;
    height: 256px;
}

.bg-white-tariff-02{
    background-color: white;
    width: 362px;
    height: 576px;
    filter: drop-shadow(0px 4px 20px rgba(0, 78, 172, 0.08));
    border-radius: 5px;
    padding:  39px 46px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-column-gap: 30px;

}

.bg-white-tariff-02>.card-image{
    text-align: center;
}
.grid-title{
    text-align: center;
    font-size: 18px;
    color: #000000;
}
.grid-title-price{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
}
.grid-description-tariff{
    font-weight: 300;
    line-height: 184%;
    font-style: normal;
    text-align: center;
}
.grid-description-price{
    text-align: left;
    margin-bottom: 40px;
}
.grid-price{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #0F7BFF;
    text-align: center;

}

.buy{
    text-align: center;
    margin-top: 50px;
}
.tariff-item-01{
    padding-top: 291px;
    padding-bottom: 288px;
}

.tariff-item-02{
    padding-top: 130px;
    padding-bottom: 129px;
}

.tariff-item-03{
    padding-top: 130px;
    padding-bottom: 129px;
}

.grid-item-01 .bg-white-feature{
    padding: 15px 30px;
}

.grid-item-02 .bg-white-feature{
    padding: 15px 30px;
}

.grid-item-03 .bg-white-feature{
    padding: 15px 30px;
}


.latestNews-content{
    text-align: center;
    margin: 130px 0px 30px 0px
}


.latestNews-title{
    text-align: center;
    margin-bottom: 25px;
    font-size: 32px;
    line-height: 40px;
}

.latestNews-descr{
    line-height: 150%;
    text-align: center;
    font-size: 16px;
    color: #000;
}
.latestNews{
    display: flex;
    justify-content: center;
    align-items: center;
}

.latestNews-cards{
    display: flex;
    justify-content: space-between;
}


.columns_cards{
    display: flex;
    flex-direction: column;
}
.columns_row{
    display: flex;
    flex-direction: column;
}
.columns_column{
    flex: 0 1 50%;
    margin: 0px 0px 26px 0px;
}

.item_row{
    display: flex;
}

.item_image img{
    filter: drop-shadow(0px 4px 20px rgba(0, 70, 156, 0.08));
    border-radius: 5px;
}

.item_body{
    flex: 1 1 auto;
    padding: 0px 0px 0px 15px;

}

.item_text{
    font-size: 16px;
    line-height: 150%;
    width: 339px;
}

.item_title{
    width: 413px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    margin: 0px 0px 25px 0px
}

.vertical_row{
    display: flex;
    margin-right: 35px;
    margin-bottom: 135px;
}

.vertical_column{
    flex:0 1 50%;
}

.vertical_item{
    width: 543px;
}

.vertical_item_image{
    margin: 0px 0px 30px 0px
}

.vertical_item_title{
    color: #0063DD;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin: 0px 0px 25px 0px
}

.vertical_item_text{
    line-height: 24px;
    margin: 0px 0px 35px 0px;
}
.vertical_item_image img{
    filter: drop-shadow(0px 4px 20px rgba(0, 70, 156, 0.08));
    border-radius: 5px;
}

.vertical_item_button a{
    color:#0063DD;
    font-weight: 500;
    line-height: 150%;
}

.freeTrial{
    display: flex;
    justify-content: center;
    background-color: #F5FCFD;
    height: 335px;
}

.freeTrial-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 133px 0px 0px 0px;

}
.freeTrial-row{
    display: flex;
    margin-right: 154px;


}

.freeTrial-column{
    flex: 0 1 50%;
    align-items: center;
}

.freeTrial-item{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}


.free-item_text{
    font-weight: 300;
    line-height: 150%;
}

.free-item-title{
    width: 413px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}

.freeTrial-row-button{
    display: flex;
}

.freeTrial-column-button{
    flex: 0 1 50%;
}

.freeTrial-button{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.freeTrial-button button{
    width: 264px;
    font-weight: 700;
}

.hi{
    background-color: #F5FCFD;
    display: flex;
    justify-content: center;
}



.hi_row{
    display: flex;
    justify-content: space-between;
    padding: 113px 0;
    align-items: center;
}

.hi_title{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin: 0px 0px 25px 0px
}

.hi_text{
    line-height: 150%;
}

.footerEmail-form{
    background-color: #0F7BFF;
}

.footerEmail-title{
    text-align: center;
    padding: 118px 0px 30px 0px;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #fff;
}

.footerEmail-block{
    padding: 0px 0px 118px 0px
}
.send {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    height: 40px;
    width: 558px;
    margin: auto;
}

.send__input {
    height: 100%;
    background-color: #0063DD;
    color: #fff;
    border: none;
    outline: none;
    line-height: 24px;
    padding-left: 23px;
    padding-right: 75px;
    width: 392px;
}

::-webkit-input-placeholder {color: #ffffff;}
::-moz-placeholder          {color: #ffffff;}
:-moz-placeholder           {color: #ffffff;}
:-ms-input-placeholder      {color: #ffffff;}

.send_button {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
    height: 100%;
    border: none;
    outline: none;
    background-color: #fff;
    color: #0063DD;
    cursor: pointer;
    width: 166px;
}

.email_send {
    margin-right: auto;
}

.footer-content{
    background-color: #0063DD;
    display: flex;
}

.testimonials-content{
    background-color: #F5FCFD;
    display: flex;
}

.carousel-content{
    display: flex;
    justify-content: space-between;
}

.testimonials-img img{
    border-bottom-right-radius: 700px;
    border-top-right-radius: 700px;
}

.carousel-card{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 362px;
    height: 215px;
    filter: drop-shadow(0px 4px 20px rgba(0, 70, 156, 0.08));
    background-color: #fff;
    padding: 20px 30px 0px 30px;
    /*background-position: left;*/
    /*padding-top: 40px;*/
    /*padding-bottom: 39px;*/
    /*padding-left: 30px;*/
}

.card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carousel-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.carousel-subtitle{
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #999999
}

.carousel-text{
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #999999;
}

.block-title{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    /*padding-left: 1000px;*/
    /*padding-top: 113px;*/
}



.testimonials-slider-title{
    display: flex;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 40px 0;
}



.slider_item{
    margin-right: 40px;
}
@media screen and (max-width: 2400px){
    .hi_body{
        padding: 0px 154px 0px 0px;
    }
    .footer-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer-left{
        line-height: 150%;
        color: #FFFFFF;
        margin: 0px 0px 0px 252px;
    }
    .footer-list{
        display: flex;
        justify-content: space-between;
        margin: 0px 0px 0px 248px;
    }

    .footer-list> li{
        color: #fff;
        margin: 0px 40px 0px 0px;
    }
    .footer-right{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 0px 0px 76px
    }

    .footer-icon{
        margin: 0px 15px 0px 0px
    }

    .footer-scroll-up{
        align-items: center;
        width: 70px;
        height: 70px;
        margin: 28px 0px 28px 159px
    }
    .about-vertical-blocks{
        display: flex;
        justify-content: space-between;
    }

    .about-vertical-block-01{
        padding: 0px 112px 0 0px;
    }

    .column-item-bottom{
        display: flex;
        flex-direction: column;
    }
    .column-item-01{
        margin: 60px 0 243px 0;
    }

    .column-item-top{
        display: flex;
        flex-direction: column;
        margin: 60px 0 346px 0;
    }
    .grid-work{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 53px;
    }

    .grid-item-card{
        padding-bottom: 137px;
    }
    .testimonials-slider-block{
        display: flex;
        flex-direction: column;
        padding: 113px 0 0 98px;
    }
    .slider{
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1200px){
    .container{
        width: 1140px;
        overflow: hidden;
    }
    .hi_body{
        padding: 0px 154px 0px 0px;
    }
    .footer-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer-left{
        line-height: 150%;
        color: #FFFFFF;
        margin: 0px 0px 0px 252px;
    }
    .footer-list{
        display: flex;
        justify-content: space-between;
        margin: 0px 0px 0px 248px;
    }

    .footer-list> li{
        color: #fff;
        margin: 0px 40px 0px 0px;
    }
    .footer-right{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 0px 0px 76px
    }

    .footer-icon{
        margin: 0px 15px 0px 0px
    }

    .footer-scroll-up{
        align-items: center;
        width: 70px;
        height: 70px;
        margin: 28px 0px 28px 159px
    }
    .about-vertical-blocks{
        display: flex;
        justify-content: space-between;
    }

    .about-vertical-block-01{
        padding: 0px 112px 0 0px;
    }

    .column-item-bottom{
        display: flex;
        flex-direction: column;
    }
    .column-item-01{
        margin: 60px 0 243px 0;
    }

    .column-item-top{
        display: flex;
        flex-direction: column;
        margin: 60px 0 346px 0;
    }
    .grid-work{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 53px;
    }

    .grid-item-card{
        padding-bottom: 137px;
    }
    .testimonials-slider-block{
        display: flex;
        flex-direction: column;
        padding: 113px 0 0 98px;
    }
    .slider{
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 991px){
    .container{
        width: 720px;
        overflow: hidden;
    }
    .latestNews-cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .freeTrial-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .freeTrial-item{
        text-align: center;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        grid-row-gap: 0px;
    }
    .hi_row{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 113px 0;
        align-items: center;
    }
    .hi_body{
        text-align: center;
        padding-right: 0px;
    }
    .footer-row{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        /*padding: 0px 0px 0px 0px;*/
        text-align: center;
    }
    .footer-left{
        line-height: 150%;
        color: #FFFFFF;
        margin: 10px 0px 10px 0px;
    }
    .footer-list{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        margin: 10px 0px 10px 0px;
    }

    .footer-list> li{
        color: #fff;
        margin: 0px 0px 0px 0px;
    }
    .footer-right{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        margin: 0px 0px 0px 0px
    }

    .footer-icon{
        margin: 0px 15px 0px 0px
    }

    .footer-scroll-up{
        align-items: center;
        width: 70px;
        height: 70px;
        margin: 28px 0px 28px 0px
    }
    .about-vertical-blocks{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .about-vertical-block-01{
        margin: 0px 0px 0px 0px;
    }

    .column-item-bottom{
        display: flex;
        flex-direction: column;
    }
    .column-item-01{
        margin: 0 0 0 0;
    }

    .column-item-top{
        display: flex;
        flex-direction: column;
        margin: 0 0 0 0;
    }
    .grid-work{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 0px;
    }

    .grid-item-card{
        padding-bottom: 0px;
    }
    .testimonials-img{
        display: none;
    }
    .slider{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .testimonials-slider-block{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 113px 0 0 98px;
    }

}

@media screen and (max-width: 767px){
    .container{
        width: 540px;
        overflow: hidden;
    }
    .latestNews-cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .freeTrial-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .freeTrial-item{
        text-align: center;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        grid-row-gap: 0px;
    }
    .hi_row{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 113px 0;
        align-items: center;
    }
    .hi_body{
        text-align: center;
        padding: 0px 0px 0px 0px;
    }
    .footer-row{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-left{
        line-height: 150%;
        color: #FFFFFF;
        margin: 10px 0px 10px 0px;
        display: flex;
        justify-content: space-between;
    }
    .footer-list{
        margin: 10px 0px 10px 20px;
    }

    .footer-list> li{
        color: #fff;
        margin: 0px 0px 0px 0px;
    }
    .footer-right{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        margin: 0px 0px 0px 0px
    }

    .footer-icon{
        margin: 0px 15px 0px 0px
    }

    .footer-scroll-up{
        align-items: center;
        width: 70px;
        height: 70px;
        margin: 28px 0px 28px 0px
    }
    .grid-work{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 53px;
    }

    .grid-item-card{
        padding-bottom: 0px;
    }
    .testimonials-slider-block{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 113px 0 0 98px;
    }
    .testimonials-slider-title{
        text-align: center;
    }

}

@media screen and (max-width: 575px){
    .container{
        width: 100%;
        padding: 0 15px;
        overflow: hidden;
    }
    .latestNews-cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .freeTrial-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .freeTrial-item{
        text-align: center;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        grid-row-gap: 0px;
    }
    .hi_row{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 113px 0;
        align-items: center;
    }
    .hi_body{
        text-align: center;
        padding: 0px 0px 0px 0px;
    }

    .footer-row{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        /*padding: 0px 0px 0px 0px;*/
        text-align: left;
    }
    .footer-left{
        color: #FFFFFF;
        margin: 10px 0px 10px 0px;
    }
    .footer-list ul{
        display: flex;
        justify-content: space-between;
        margin: 10px 0px 10px 0px;
    }

    .footer-list> li{
        color: #fff;
        margin: 0px 0px 0px 0px;
    }
    .footer-right{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        /*align-items: center;*/
        margin: 0px 0px 0px 0px;
    }

    .footer-icon{
        margin: 0px 15px 0px 0px
    }

    .footer-scroll-up{
        align-items: center;
        width: 70px;
        height: 70px;
        margin: 28px 0px 28px 0px
    }
    .grid-work{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 53px;
    }

    .grid-item-card{
        padding-bottom: 0px;
    }
    .testimonials-slider-block{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 113px 0 0 98px;
        align-items: center;
    }
    .testimonials-slider-title{
        text-align: center;
    }
}


.about-content{
    display: flex;
    justify-content: center;
}



.about-card-title{
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 30px 0
}

.about-card-text{
    line-height: 150%;
    width: 543px;
    margin-bottom: 20px;
    /*margin: 0 0 259px 0*/
}

.get {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden;
    /*border-radius: 25px;*/
    height: 40px;
    width: 338px;
    margin: auto;
}

.monthly {
    height: 100%;
    background-color: #0F7BFF;
    color: #fff;
    border: none;
    outline: none;
    line-height: 24px;
    padding-left: 23px;
    padding-right: 75px;
    width: 169px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    cursor: pointer;
    font-weight: 700;
}



.yearly {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
    height: 100%;
    border: 2px solid #0F7BFF;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    outline: none;
    background-color: #fff;
    color: #0F7BFF;
    cursor: pointer;
    width: 169px;
}

.buy {
    margin-right: auto;
}